@charset "UTF-8";

/* マウスカーソルの形指定 */
button, 
input[type="button"] {
	cursor: pointer;
}


/* 表示位置 */
* {
	font-size:100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* フォントのデザイン指定 */
* {
	font-family:"Helvetica Neue", Helvetica, Arial;
}


/* formのデザイン指定 */
form {
	border-style: solid; 
	border-color: #999999;
	background:#fff;
	border-radius:6px;
	padding:20px;
	padding-top:30px;
	width:350px;
	margin:50px auto;
	box-shadow:15px 15px 0px rgba(0,0,0,.1);
}


/* タイトル(ログイン) */
h1 {
	text-align:center;
	font-size:1.4em;
	font-weight:700;
	color:#444444;
	margin-bottom:24px;
}


/* 見積・請求システムの文字の太さ*/
span {
	font-weight:200;
}


/* IDとパスワードの入力フォーム*/
input {
	width:100%;
	background:#f5f5f5;
	border:0;
	padding:20px;
	border-radius:6px;
	margin-bottom:10px;
	border:1px solid #eee;
}


/* ログインボタン */
.btn {
position:relative;
	width:100%;
	padding:20px;
	border-radius:6px;
	border:0;
	background:#f26964;
	font-size:1.2em;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,.1);
	box-shadow:0px 3px 0px #c1524e;
}


/* ログインボタン押下時 */
.btn:active {
	top:3px;
	box-shadow:none;
}